
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

p {
    font-family: "Pangolin";
    font-size: 20px;
    left: 25px;
    position: relative;
    bottom: 75px;
}

h3 {
    position: relative;
    left: 25px;
    top: 25px;
    font-size: 25px;
}

.line {
    background-color: #cca300;
    margin: 20px 20px;
}

.kep {
    position: relative;
    top: 55px;
    left: 13%;

}
p {
    font-family: "Pangolin";
}

.kep1 {
    position: relative;
    top: 55px;
    left: 11.5%;
}

.kep2 {
    position: relative;
    top: 55px;
    left: 50%;

}
h1 {
    color: brown;
    font-family: Arial;
    margin-left: 15px;
    margin-top: 50px;
}