body {
    background-image: url(../img/html_hatter7.jpg);
    height: 100%;
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

header, main, footer {
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    background-color: RGBA(255, 254, 250, 0.9);
  
}


.navbar {
    background-color: rgb(20, 20, 20) !important;   /* Szint és radiust greyröl */
    border-radius: 5px !important;
   
}

.kipozicional a {position:absolute; left:-9999px; color: purple ;}



nav#gyengenlato span {
    background-image: url("../img/ikonkeszlet.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-position: -240px 0px;
    text-align: right;
}
nav#gyengenlato {
    right: 30px;
    float: right;
}

a#normalbetu {display: none;}


@media print {
    nav {display: none;}
    body {width: 100%;margin: 0px,0px;}
    footer {display: none;}
    video {display: none;}
    
}

nav a#etterem {
    font-size: 43px;
    color: black;
    text-decoration: none;
    border-style: solid;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    position: relative;
    left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
    font-family: 'Abril Fatface', cursive;

}

nav a#etterem:hover {
    background-color: ivory;
}

#lightmode {
    display: none;
}