h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
}

aside {
    width: 40%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    margin-right: 100px; 

}   

body {
    height: 100%;
}

img {
    border-style: solid;
    border-radius: 2px;
    border-color: black;
}

section {
    margin-left: 20px;
    margin-bottom: 40px;
}

aside figure a:link {
    color: rgb(34, 43, 255);
}

aside figure:visited {
    color: rgb(152, 66, 157);
}