@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

h1 p h3  {
    position: absolute;
}

h1 {
    color: brown;
    font-family: Arial;
    margin-left: 15px;
    margin-top: 50px;
}

p {
    margin-left: 15px;
    font-family: "Pangolin";
}

h3 {
    margin-left: 15px;
    font-family: sans-serif;
    color: brown;
}

ul {
    margin-left: 15px;
    font-family: "Pangolin";
}   

img {
    position: absolute;
}

