
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: brown;
}

p {
    text-align: center;
    font-family: "Pangolin";
    font-size: 25px;
}