
h1 {
    text-align: center;
}

h2 {
    margin: 30px;
}

h3 {
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;

    font-size: 180%;
}

div#bevezeto {
    text-align: center;
    margin-top: 30px;
}


div.aktualis {
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    
}

div.sor {
    margin-top: 30px;
    padding-top: 30px;
}

p.akcio {
    margin-top: 30px;
    font-family: 'Kalam', cursive;
    font-size: 120%;
}

p#kisbetu {
    font-size: 75%;
    text-align: right;
    padding-top: 3px;
    position: relative;
    top: 15px;
    font-family: sans-serif;
}
video {
    position: relative;
    width:100%;
    max-width:800px;
    height:auto;
    border-radius: 5px;
  }

img {
    position: relative;
    top: 7px;
    
    min-width: 30%;
    min-height: 30%;
    
}

p.bevezeto {
    font-family: 'Kalam', cursive;
    
    font-size: 125%;
}

.link:link {
    color: rgb(40, 122, 19);
    text-decoration: underline;
}

.link:visited {
    color: red;
    
}

.link:hover {
    color: blue;
}

div figure a {
    color: green;
}
