
h1 {
    text-align: center;
}

h2 {
    margin: 30px;
}

div#bevezeto {
    text-align: center;
    margin-top: 30px;
}


div.aktualis {
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    
}

div.sor {
    margin-top: 30px;
    padding-top: 30px;
}

h3 {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    margin-top: 30px;
}

p#kisbetu {
    font-size: 12px;
    text-align: right;
    padding-top: 20px;
    position: relative;
    top: 15px;
    font-family: sans-serif;
}
video {
    position: relative;
}

img {
    position: relative;
    top: 7px;
}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.bevezeto {
    font-family: 'Nerko One', cursive;
    font-size: 120%;
}