
h1 {
    text-align: center;
}

h2 {
    margin: 30px;
}

div#bevezeto {
    text-align: center;
    margin-top: 30px;
}


div.aktualis {
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    
}

div.sor {
    margin-top: 30px;
    padding-top: 30px;
}

h3 {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.akcio {
    margin-top: 30px;
}

p#kisbetu {
    font-size: 12px;
    text-align: right;
    padding-top: 20px;
    position: relative;
    top: 15px;
    font-family: sans-serif;
}
.video {
    width:100%;
    max-width:800px;
    height:auto;
  }

img {
    position: relative;
    top: 7px;
    opacity: initial;
    
    min-width: 30%;
    min-height: 30%;

}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.bevezeto {
    font-family: 'Big Shoulders Stencil Display', cursive;
    
    font-size: 120%;
}

figcaption a:visited {
    color: rgb(84, 197, 250);
}