@import url('alap.css');

body {
    font-size: 2em;
}

header, main, footer, div.oldal {
    width: 90%;
    max-width: 1300px;
    
}

a#nagybetu {
    display: none;
}


a#normalbetu {
    display: block;
}

nav#gyengenlato span {
    background-image: url("../img/ikonkeszlet.png");
    background-position: -330px 0px;
    

}

.kipozicional a {position:absolute; left:-9999px;}
 