@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

/*Ételválasztas*/

table {
    margin: auto;
    width: 60%;
    border: solid black 2px;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}

td {
    border-bottom:solid black 2px;
}

th, td {
    padding: 10px;
}
/*
table, td, th {
    border: solid black 2px;
}
*/
input[type="number"] {
    width: 40px;
    height: 2.5em;
}

/*Egyebek*/

* {
    box-sizing: border-box;
  }


  [class*="col-"] {
    float: left;
    padding: 15px;
    
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.6%;}
.col-3 {width: 24.9%;}
.col-4 {width: 33.1%;}
.col-5 {width: 41.4%;}
.col-6 {width: 49.7%;}
.col-7 {width: 90%;}
.col-8 {width: 91.3%;}
.col-9 {width: 92.6%;}
.col-10 {width: 93.9%;}
.col-11 {width: 94.2%;}
.col-12 {width: 100%;}




  /*Adatok*/

h2#szallitas {
    text-align: center;
}

#idk {
    margin-left: 125px;
}
