body {
    background-image: url(../img/html_hatter7.jpg);
    height: 100%;
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

div.oldal {
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    background-color: RGBA(255, 254, 250, 0.9);
  
}


p.leiras {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 120%;
}

a {
    font-size: 2em;
}

.link:link {
    color: rgb(34, 43, 255);
    text-decoration: underline;
}

.link:visited {
    color: rgb(152, 66, 157);
    
}
