   

h1 {
    color: brown;
    font-family: Arial;
    margin-left: 15px;
    margin-top: 50px;
}


th {
    font-family: sans-serif;
    font-size: 20px;
}
    
table {
    width: 100%;
}

thead {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    font-style: italic;
}

th.páros {
    border-bottom: solid 1px #FFB266;
}

th.páratlan {
    border-bottom: #FFCC99;
}

.bal {
    text-align: left;
    padding-left: 150px;
}

.jobb {
    text-align: right;
    padding-right: 150px;
}

.páratlan {
    background-color: #FFB266 ;
}

.páros {
    background-color: #FFCC99;
}