* {
    box-sizing: border-box;
}
    
/* Tabla*/
#tabla {
    position: fixed;
    top: 13rem;
    left: 5%;
    width: 550px;
    height: 500px;
    padding: 1.5rem;
    background-color: blue;
    border: black 1px solid;
    visibility: hidden;
   
}

.ures {
    width: 72px;
    height: 72px;
    background-color: white;
    border: black solid 1px;
    border-radius: 50px;
}

/* pre_game_menu*/
input{
    height: 2rem;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
}

#menu {
    border: solid black 1px;
    margin-left: 8%;
    margin-right: 50%;
    padding-top: 1rem;
    padding-left: 1rem;
    visibility: visible;
    background-color:lightblue ;
    
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

label {
    font-size: 1.5rem;
}

input#jatekos_1 {
    background-color: red;
    margin-bottom: 1rem;
}

input#jatekos_2 {
    background-color: yellow;
}
/* In_game menu */
#tablamenu {
    position: fixed;
    left: 1%;
    top: 1rem;
    border: solid black 1px;
    width:625px;
    display: inline-flex;  /*inline-flex */
    visibility: hidden;
    background-color:lightblue ;
}

.piros_korong {
    width: 40px;
    height: 40px;
    background-color: red;
    border: black solid 1px;
    border-radius: 50px;
}

.sarga_korong {
    width: 40px;
    height: 40px;
    background-color: yellow;
    border: black solid 1px;
    border-radius: 50px;
}

.kovetkezo_korong {
    width: 40px;
    height: 40px;
    background-color: red;
    border: black solid 1px;
    border-radius: 50px;
}

#player2 {
    margin-left: 8rem;
   
}

#player1 {
    margin-left: 6rem;
}

#kovetkezo_jatekos {
   margin-left: 8rem;
}


/* lebego korong */
.selected_korong {
    width: 66px;
    height: 66px;
    background-color: white;
    border: white solid 1px;
    border-radius: 50px;
    visibility: visible;
}


.dobas_helye {
    
    position: fixed;
    top: 6.5rem;
    left: 5%; 
    width: 550px;
    height: 100px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    
}

table#dobas_helye td {
    height: 100%;
}


/* Winner alert */

div#winner {
    position: absolute;
    left: 5%;
    top: 5rem;
    border: black solid 1px;
    background-color: coral;
    font-size: 35px;
    width: 550px;
    text-align: center;
    
    visibility: hidden;
}

.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}


.returnmenu {
    
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}
